$title-color = #333
$title-alt-color = #999
.v-intro-text
	font-size 14px
	text-align right
	color $title-color

	.title
		line-height 1
		display block
		font-size 2.15em
		direction rtl
		line-height 1
		padding 0
		margin 0 0 0.1em
		span
			display block

	.alt-title
		display block
		color $title-alt-color
		font-size 1.75em
		line-height 1
		position relative
		padding 0 0 1em
		display none

		&:after
			content ""
			display block
			width 20%
			height 2px
			background-color rgba(black,0.1)
			position absolute
			right 0
			bottom 0.25em
	hr
		display none
	.desc
		line-height 1.2
	.small
		font-size 12px


	ul
		padding-right 0
		li
			padding 0.2em 0
